body{
  margin: 0px;
}
.headerOuter{
  background-color:skyblue;
  width: 100%;
  height: 3%;
  display: block;
}
.headerInner{
  background-color: #01a5b9;
  width: 100%;
  list-style: none;
}
.ulHeader{
  float: right;
  list-style: none;
  width: auto;
  margin: 0rem;
}
.headerLI{
  padding:1rem;
  font-size: 1rem;
  display:inline-block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  
}
.headerNavLink{
  color: white;
  text-decoration:none;

}
.headerLI:hover{
       background-color: skyblue;
       text-decoration: underline;
}
.footerOuter{
    background-color: grey;
    float: center;
    text-align: center;
    display: block;
    width: 100%;
}
.footerUl{
  list-style: none;
  flex-direction: row;
  /* display: inline-flex; */
}
.footerLI{
  padding:0.8rem;
 
  display:inline-block;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.footerNavLink{
  text-decoration: none;
  font-size: 1rem;
}
.footerLI:hover{
   background-color: yellowgreen; 
  text-decoration: underline;
}
