
h1{
    margin: 0px;
    padding: 0px;
}
.javaLeft{
    width: 20%;
    background-color :rgb(214, 207, 207);;
}
.javaHomeRight{
    background-color:rgb(214, 207, 207);;
    width: 20%;
}
.JavaLeftHeader{
    font-size: 1rem;
    background-color: tan;
    float: center;
    padding: 0.8rem;
    margin: 0px;
}
.javaLeftLi{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
     padding-right: 0.5rem;
    padding-left: 1rem;  
  
    
    font-size: 0.8rem;
    
}
.javaLeftLi:hover{
    /* background-color: tomato; */
    /* background-color: skyblue; */
    background-color: #01a5b9;
    text-decoration: underline;
}
.javaLeftNavLink{
    color: blue;
    text-decoration:none;
}