.javahomecombine{
    background-color: #fff;
     width: 100%;
    flex-direction: row;
    display: inline-flex; 
}
.javaHomeCenter{
    background-color:white;
    width: 80%;
}
.javaHomeSpan{
    float: center;
    flex-direction: row;
   display: inline-flex; 
    padding: 2rem;
    padding-left: 1.4rem;
    font-size: 1.7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown; 
}
.javaText{
    padding-left: 3rem;
    padding-right: 3rem;
    color :black;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
